html, body
{
   height: 100%;
   width: 100%;
}


#home
  {
     background: linear-gradient(to top, #172530, #172533) no-repeat center center fixed;
     display: table;
     height: 100%;
     width: 100%;
     position: relative;
     background-size: cover;

}


.landing-text, .landing-text-a {
   text-align: center;
   display: flex;
   flex-direction: column;
}

.landing-text h1 {
  
   margin-top: 90px;
   padding-bottom: 20px;
   padding-top: 40px;


}
.landing-text-a h1 {
  
   margin-top: 35px;
   padding-bottom: 10px;
   border-top: 1px solid #526575;
   padding-top: 110px;
  
}

.landing-text h3 {
   font-size: 100%;
   font-family: 'Roboto', serif;  
   color: white;

  
}

.landing-text-a h3 {
   font-size: 100%;
   font-family: 'Roboto', serif;  
   color: white;

  
}

.span{
   color: #e58104;
   font-size:1.2em;
}

.span-heading-windows {
   font-family: 'Roboto', serif; 
   position: relative;
   float: left;
   left: 330px;
   color: #e0e9f0;
   font-size: 1.1em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.span-heading-linux {
   font-family: 'Roboto', serif; 
   position: relative;
   float: left;	
   left: 370px;
   color: #e0e9f0;
   font-size: 1.1em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.download-windows {
	position: relative;
	top: calc(0px - 92px);
	right: calc(0px - 725px);
	width: 230px;
	height: 60px;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.075), rgba(255,255,255,.045));
	background-image: linear-gradient(to top, rgba(0,0,0,.075), rgba(255,255,255,.045));
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.09),inset 0 1px 0 rgba(255,255,255,.04), 0 0 1px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.1);
	border-radius: 100px;
	color: rgba(255,255,255,.9);
	line-height: 60px;
	text-align: center;
	letter-spacing: 5px;
	overflow: hidden;
	transition: all .3s cubic-bezier(.67,.13,.1,.81), transform .3s cubic-bezier(.67,.13,.1,.81);
}

.download-windows:before, .download-windows:after {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all .3s cubic-bezier(.67,.13,.1,.81);
}
.download-windows:before {
	content: 'DOWNLOAD';
        font-family: 'Poiret One', serif; 
        font-weight: bold;
        left: 16px;
}
.download-windows:after {
	content: 'DOWNLOAD';
        font-family: 'Poiret One', serif; 
        font-weight: bold;
        left: 16px;
	top: -60px;
	opacity: 0;
}
.download-windows:hover {
	right: calc(0px - 725px);
	width: 230px;
        color: #0dffff;        
}
.download-windows:hover:before {
	top: 60px;
	opacity: 0;
}
.download-windows:hover:after {
	top: 0px;
	opacity: 1;
}
.download-windows:active {
	transform: translateY(3px);
}


.download-linux {
	position: relative;
	top: calc(0px - 82px);
	right: calc(0px - 725px);
	width: 230px;
	height: 60px;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.075), rgba(255,255,255,.045));
	background-image: linear-gradient(to top, rgba(0,0,0,.075), rgba(255,255,255,.045));
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.09),inset 0 1px 0 rgba(255,255,255,.04), 0 0 1px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.1);
	border-radius: 100px;
	color: rgba(255,255,255,.9);
	line-height: 60px;
	text-align: center;
	letter-spacing: 5px;
	overflow: hidden;
	transition: all .3s cubic-bezier(.67,.13,.1,.81), transform .3s cubic-bezier(.67,.13,.1,.81);
}

.download-linux:before, .download-linux:after {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all .3s cubic-bezier(.67,.13,.1,.81);
}
.download-linux:before {
	content: 'DOWNLOAD';
        font-family: 'Poiret One', serif;
        font-weight: bold;
        left: 16px;
}
.download-linux:after {
	content: 'DOWNLOAD';
        font-family: 'Poiret One', serif;
        font-weight: bold;
        left: 16px;
	top: -60px;
	opacity: 0;
}
.download-linux:hover {
	right: calc(0px - 725px);
	width: 230px;
        color: #0dffff;        
}
.download-linux:hover:before {
	top: 60px;
	opacity: 0;
}
.download-linux:hover:after {
	top: 0px;
	opacity: 1;
}
.download-linux:active {
	transform: translateY(3px);
}
.fa {
        position: relative;
        float: left;
        left: 32px;
        top: 16px;
        transition: 0.28s ease-in;
}



::-webkit-scrollbar
{
   width: 10;
   background-color: #1f3241;
}

::-webkit-scrollbar-thumb
{
   border-radius: 20px;
   background: linear-gradient(to right, #060a0e, #0f181f);
}

::-webkit-scrollbar-track
{
   border-radius: 1px;
   background-color: #1f3241;
}



@media (min-width: 1920px) {
  
.landing-text h1 {
   font-size: 220%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 220%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;
   
}

}

@media (max-width: 1028px) {

.span-heading-windows {
   position: relative;
   float: left;
   left: 200px;
   color: #e0e9f0;
   font-size: 1.1em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.span-heading-linux {
   position: relative;
   float: left;	
   left: 240px;
   color: #e0e9f0;
   font-size: 1.1em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.download-windows {
	position: relative;
	top: calc(0px - 88px);
	right: calc(0px - 545px);
	width: 230px;
	height: 60px;

}

.download-linux {
	position: relative;
	top: calc(0px - 82px);
	right: calc(0px - 545px);
	width: 230px;
	height: 60px;

}

}


@media (max-width: 868px) {


.landing-text h1 {
   font-size: 190%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 190%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;
   
}


@media (max-width: 768px) {
 
.span-heading-windows {
   position: relative;
   float: left;
   left: 120px;
   color: #e0e9f0;
   font-size: 1.1em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.span-heading-linux {
   position: relative;
   float: left;	
   left: 160px;
   color: #e0e9f0;
   font-size: 1.1em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.download-windows {
	position: relative;
	top: calc(0px - 88px);
	right: calc(0px - 405px);
	width: 230px;
	height: 60px;

}

.download-linux {
	position: relative;
	top: calc(0px - 82px);
	right: calc(0px - 405px);
	width: 230px;
	height: 60px;

}

}

@media  (max-width: 558px) {
    
.span-heading-windows {
   position: relative;
   float: left;
   left: 40px;
   color: #e0e9f0;
   font-size: 1em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.span-heading-linux {
   position: relative;
   float: left;	
   left: 65px;
   color: #e0e9f0;
   font-size: 1em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.download-windows {
	position: relative;
	top: calc(0px - 88px);
	right: calc(0px - 275px);
	width: 230px;
	height: 60px;

}

.download-linux {
	position: relative;
	top: calc(0px - 82px);
	right: calc(0px - 275px);
	width: 230px;
	height: 60px;

}

.span-heading {
   font-size: 14px;
} 


}

@media  (max-width: 448px) {


.span-heading-windows {
   position: relative;
   float: left;
   top: -6px;
   left: 20px;
   color: #e0e9f0;
   font-size: 0.8em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.span-heading-linux {
   position: relative;
   float: left;	
   top: -6px;
   left: 45px;
   color: #e0e9f0;
   font-size: 0.8em;
   padding-bottom: 12px;
   letter-spacing: 5px;
}

.download-windows {
	position: relative;
	top: calc(0px - 88px);
	right: calc(0px - 225px);
	width: 180px;
	height: 50px;

}

.download-windows:before {
        top: -4px;
        left: 20px;
}
.download-windows:after {
        top: -4px;
        left: 20px;
}

.download-linux {
	position: relative;
	top: calc(0px - 82px);
	right: calc(0px - 225px);
	width: 180px;
	height: 50px;

}

.download-linux:before {
        top: -4px;
        left: 20px;
}
.download-linux:after {
        top: -4px;
        left: 20px;
}
.fa {
        left: 20px;
        top: 11px;
}

.span-heading {
   font-size: 12px;
} 

}



@media  (max-width: 398px) {
  
.span-heading-windows {
   position: relative;
   float: left;
   top: -55px;
   left: 90px;

}

.span-heading-linux {
   position: relative;
   float: left;	
   top: -55px;
   left: 110px;

}

.download-windows {
	position: relative;
	top: calc(0px - 50px);
	right: calc(0px - 100px);

}

.download-linux {
	position: relative;
	top: calc(0px - 50px);
	right: calc(0px - 96px);

}

.span-heading {
   font-size: 10px;
} 

}

@media  (max-width: 338px) {
  
.span-heading-windows {
   position: relative;
   float: left;
   top: -55px;
   left: 70px;

}

.span-heading-linux {
   position: relative;
   float: left;	
   top: -55px;
   left: 90px;

}

.download-windows {
	position: relative;
	top: calc(0px - 50px);
	right: calc(0px - 85px);

}

.download-linux {
	position: relative;
	top: calc(0px - 50px);
	right: calc(0px - 80px);

}

.span-heading {
   font-size: 09px;
} 

}


