html, body
{
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}

.navbar-inverse {
    background-color: #172531 !important;
    border-color: #526575!important;
    padding: 0%  0% 0% 0%;
    font-size: 1em ;
    font-weight: bold;
    
}

.dropdown-menu {
    background-color: #273f54 !important;

 }
.dropdown-menu a{

    color: white !important;
    font-size: 1.1em;
    font-family: 'Roboto', serif;
    margin: 10px 0;
    
 }

.dropdown-menu a:hover {
    color: white !important;

 }


.navbar-brand img
{
    height: 36px;
    padding: 0 0 15px;

}


.navbar-inverse .navbar-nav li a {
   color: white;

}

.navbar-inverse .navbar-nav li a.active {
   
   color: white;

}

.navbar-inverse .navbar-nav li a:hover  {
   color: white !important;
   background-color: #111 !important;

}



#home
  {
     background: linear-gradient(to top, #172530, #172533) no-repeat center center fixed;
     display: table;
     height: 100%;
     width: 100%;
     position: relative;
     background-size: cover;

}

.landing-text {
   display: table-cell;
   text-align: center;
   vertical-align: middle;  
}


.landing-text h1 {
   font-size: 130%;
   font-family: 'Roboto', serif;  
   color: white;
   font-weight: bold;
}

.svg {
  
   height:45;
   width: 1400;
}


@media (min-width: 1920px) {
  
.landing-text h1 {
   font-size: 160%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.svg {
    height:45;
    width: 1800;
}   

}


@media (max-width: 1368px) {
 
.landing-text h1 {
   font-size: 130%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.svg {
    height:45;
    width: 1400;
}

}

@media (max-width: 1268px) {
 
.landing-text h1 {
   font-size: 130%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.svg {
    height:45;
    width: 1000;
}

}

@media (max-width: 1068px) {
 
.landing-text h1 {
   font-size: 110%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.svg {
    height:45;
    width: 950;
}

}

@media (max-width: 968px) {
 
.landing-text h1 {
   font-size: 105%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.svg {
    height:45;
    width: 900;
}

}


@media (max-width: 868px) {
 
.landing-text h1 {
   font-size: 105%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.svg {
    height:45;
    width: 800;
}

}


@media (max-width: 768px) {
 
.landing-text h1 {
   font-size: 100%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.svg {
    height:45;
    width: 700;
}

}

@media  (max-width: 558px) {
    
.landing-text h1 {
   font-size: 90%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.svg {
    height:45;
    width: 500;
}

}

@media  (max-width: 438px) {
  
.landing-text h1 {
   font-size: 85%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.svg {
    height:45;
    width: 400;
}

}

@media  (max-width: 378px) {
  
.landing-text h1 {
   font-size: 80%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.svg {
    height:45;
    width: 350;
}

}

@media  (max-width: 338px) {
  
.landing-text h1 {
   font-size: 80%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.svg {
    height:45;
    width: 300;
}

}

