html, body
{
   height: 100%;
   width: 100%;
	
}

.navbar-inverse {
    background-color: #172531 !important;
    border-color: #526575!important;
    padding: 0%  0% 0% 0%;
    font-size: 1em ;
    font-weight: bold;
    
}

.dropdown-menu {
    background-color: #273f54 !important;

 }
.dropdown-menu a{

    color: white !important;
    font-size: 1.1em;
    font-family: 'Roboto', serif;
    margin: 10px 0;
    
 }

.dropdown-menu a:hover {
    color: white !important;

 }


.navbar-brand img
{
    height: 36px;
    padding: 0 0 15px;

}


.navbar-inverse .navbar-nav li a {
   color: white;

}

.navbar-inverse .navbar-nav li a.active {
   
   color: white;

}

.navbar-inverse .navbar-nav li a:hover  {
   color: white !important;
   background-color: #111 !important;

}



#home
  {
     background: linear-gradient(to top, #172530, #172533) no-repeat center center fixed;
     display: table;
     height: 100%;
     width: 100%;
     position: relative;
     background-size: cover;
}



.container-1 div {
     margin-top: 40px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;


}

.container-2 div{
    margin-top: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;

}


.box-1 img {
   width: 480px;
   height: auto;
   opacity: 0.5;

}

.box-11 img {
   width: 460px;
   height: auto;
   opacity: 0.45;

}
.box-12 img {
   width: 440px;
   height: auto;
   opacity: 0.4;

}
.box-13 img {
   width: 420px;
   height: auto;
   opacity: 0.35;

}

.box-2 img {
   width: 830px;
   height: auto;
   opacity: 0.3;

}

.img-left-shadow {
   box-shadow: -6px 6px #111;
}

.img-left-shadow:hover {
   transform: translateY(3px);
   box-shadow: -10px 10px #000;
}

.img-right-shadow {
   box-shadow: 6px 6px #111;
}

.img-right-shadow:hover {
   transform: translateY(3px);
   box-shadow: 10px 10px #000;
}

.img-shadow {
   box-shadow: 8px 8px #111, -8px -8px #111;
}

.img-shadow:hover {
   transform: translateY(4px);
   box-shadow: 11px 11px #000, -11px -11px #000 ;

}

.modal-body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-bottom: 2px solid black; 
   border-top: 2px solid black;
   background: #303030;
}

.modal-body img {
   height: 75px;
   width: auto;   
}

.modal-body a {
   box-shadow: 5px 5px #111;
}

.modal-body a:hover {
   transform: translateY(3px);
   box-shadow: 9px 9px #000;

}

::-webkit-scrollbar
{
   width: 10;
   background-color: #1f3241;
}

::-webkit-scrollbar-thumb
{
   border-radius: 20px;
   background: linear-gradient(to right, #060a0e, #0f181f);
}

::-webkit-scrollbar-track
{
   border-radius: 1px;
   background-color: #1f3241;
}

@media (max-width: 1080px) {



.box-1 img {
   width: 320px;
   height: auto;

}

.box-11 img {
   width: 300px;
   height: auto;

}
.box-12 img {
   width: 280px;
   height: auto;

}
.box-13 img {
   width: 260px;
   height: auto;

}

.box-2 img {
   width: 510px;
   height: auto;

}

}

@media (max-width: 768px) {



.box-1 img {
   width: 260px;
   height: auto;

}

.box-11 img {
   width: 240px;
   height: auto;

}
.box-12 img {
   width: 220px;
   height: auto;

}
.box-13 img {
   width: 200px;
   height: auto;

}

.box-2 img {
   width: 390px;
   height: auto;

}

}

@media (max-width: 638px) {



.box-1 img {
   width: 220px;
   height: auto;

}

.box-11 img {
   width: 200px;
   height: auto;

}
.box-12 img {
   width: 180px;
   height: auto;

}
.box-13 img {
   width: 160px;
   height: auto;

}

.box-2 img {
   width: 310px;
   height: auto;

}

}

@media (max-width: 512px) {



.box-1 img {
   width: 160px;
   height: auto;

}

.box-11 img {
   width: 150px;
   height: auto;

}
.box-12 img {
   width: 140px;
   height: auto;

}
.box-13 img {
   width: 130px;
   height: auto;

}

.box-2 img {
   width: 290px;
   height: auto;

}

}

@media (max-width: 498px) {



.box-1 img {
   width: 150px;
   height: auto;

}

.box-11 img {
   width: 140px;
   height: auto;

}
.box-12 img {
   width: 130px;
   height: auto;

}
.box-13 img {
   width: 120px;
   height: auto;

}

.box-2 img {
   width: 250px;
   height: auto;

}

}

@media (max-width: 398px) {

.box-1 img {
   width: 120px;
   height: auto;

}

.box-11 img {
   width: 115px;
   height: auto;

}
.box-12 img {
   width: 110px;
   height: auto;

}
.box-13 img {
   width: 105px;
   height: auto;

}

.box-2 img {
   width: 230px;
   height: auto;

}

}

@media (max-width: 348px) {

.box-1 img {
   width: 110px;
   height: auto;

}

.box-11 img {
   width: 105px;
   height: auto;

}
.box-12 img {
   width: 100px;
   height: auto;

}
.box-13 img {
   width: 95px;
   height: auto;

}

.box-2 img {
   width: 210px;
   height: auto;

}

}
