html, body
{
   height: 100%;
   width: 100%;
}

.navbar-inverse {
    background-color: #172531 !important;
    border-color: #526575!important;
    padding: 0%  0% 0% 0%;
    font-size: 1em ;
    font-weight: bold;
    
}

.dropdown-menu {
    background-color: #273f54 !important;

 }
.dropdown-menu a{

    color: white !important;
    font-size: 1.1em;
    font-family: 'Roboto', serif;
    margin: 10px 0;
    
 }

.dropdown-menu a:hover {
    color: white !important;

 }


.navbar-brand img
{
    height: 36px;
    padding: 0 0 15px;

}


.navbar-inverse .navbar-nav li a {
   color: white;

}

.navbar-inverse .navbar-nav li a.active {
   
   color: white;

}

.navbar-inverse .navbar-nav li a:hover  {
   color: white !important;
   background-color: #111 !important;
}



#home
  {
     background: linear-gradient(to top, #172530, #172533) no-repeat center center fixed;
     display: table;
     height: 100%;
     width: 100%;
     position: relative;
     background-size: cover;

}


.landing-text, .landing-text-a {
   text-align: center; 
}

.landing-text, .landing-text-a {
   display: flex;
   flex-direction: column;
}

.landing-text h1 {
   font-size: 200%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;


}
.landing-text-a h1 {
   font-size: 200%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 35px;
   padding-bottom: 10px;
   border-top: 2px solid #526575;
   padding-top: 35px;
  
}

.landing-text h3 {
   font-size: 100%;
   font-family: 'Roboto', serif;  
   color: white;

  
}

.landing-text-a h3 {
   font-size: 100%;
   font-family: 'Roboto', serif;  
   color: white;

  
}


.landing-text img{
   width: 500px;
   height: auto; 	
}

.landing-text-a img{
   width: 500px;
   height: auto;  
}

.span{
   color: #e58104;
   font-size:1.2em;
}

.span-heading {
   color: #e0e9f0;
   font-size:0.7em;
   width: 60%;
   padding-bottom: 20px;
   border-bottom: 11px solid #526575;
   border-radius: 30px;
}

::-webkit-scrollbar
{
   width: 10;
   background-color: #1f3241;
}

::-webkit-scrollbar-thumb
{
   border-radius: 20px;
   background: linear-gradient(to right, #060a0e, #0f181f);
}

::-webkit-scrollbar-track
{
   border-radius: 1px;
   background-color: #1f3241;
}



@media (min-width: 1920px) {
  
.landing-text h1 {
   font-size: 220%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 220%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;
   
}

}

@media (max-width: 1028px) {


 
.landing-text h1 {
   font-size: 190%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 190%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;
   
}

.landing-text img{
   width: 400px;
   height: auto; 
}

.landing-text-a img{
   width: 400px;
   height: auto; 
}


@media (max-width: 868px) {


 
.landing-text h1 {
   font-size: 190%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 190%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;
   
}

.landing-text img{
   width: 350px;
   height: auto; 
}

.landing-text-a img{
   width: 350px;
   height: auto;  
}



@media (max-width: 768px) {
 
.landing-text h1 {
   font-size: 180%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 180%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

   
}

}

@media  (max-width: 558px) {
    
.landing-text h1 {
   font-size: 170%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 170%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;
}

.span-heading {
   font-size: 14px;
} 


}

@media  (max-width: 448px) {

.span-heading {
   font-size: 12px;
} 

}



@media  (max-width: 398px) {
  
.landing-text h1 {
   font-size: 160%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 160%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px
   padding-bottom: 20px;
   
}

.landing-text img{
   width: 280px;
   height: auto; 
}

.landing-text-a img{
   width: 280px;
   height: auto; 
}

.span-heading {
   font-size: 10px;
} 

}

@media  (max-width: 338px) {
  
.landing-text h1 {
   font-size: 155%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px;
   padding-bottom: 20px;

}
.landing-text-a h1 {
   font-size: 155%;
   font-family: 'Roboto', serif;  
   color: white;
   margin-top: 90px
   padding-bottom: 20px;
   
}

.landing-text img{
   width: 230px;
   height: auto; 
}

.landing-text-a img{
   width: 230px;
   height: auto;  
}

.span-heading {
   font-size: 09px;
} 

}

