html, body
{
   height: 100%;
   width: 100%;
}

.navbar-inverse {
    background-color: #172531 !important;
    border-color: #526575!important;
    padding: 0%  0% 0% 0%;
    font-size: 1em ;
    font-weight: bold;
    
}

.navbar-brand img
{
    height: 36px;
    padding: 0 0 15px;

}


.navbar-inverse .navbar-nav li a {
   color: #D5D5D5;

}

.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a.active {
   color: gray;

}



#home
  {
     background: linear-gradient(to  top, #526575, #172531) no-repeat center center fixed;
     display: table;
     height: 100%;
     width: 100%;
     position: relative;
     background-size: cover;

}

.landing-text {
   display: table-cell;
   text-align: center;
   vertical-align: middle;  
}

.landing-text img {
   height: auto;
   width: 500px;

}

.landing-text h1 {
   font-size: 50%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.landing-text h3 {
   font-size: 60%;
   font-family: 'Domine', serif;  
   color: white;

}




@media (max-width: 768px) {


.landing-text img {
   height: auto;
   width: 400px;

}    
.landing-text h1 {
   font-size: 30%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.landing-text h3 {
   font-size: 50%;
   font-family: 'Domine', serif;  
   color: white;

}


}

@media  (max-width: 568px) {


.landing-text img {
   height: auto;
   width: 320px;

}    
.landing-text h1 {
   font-size: 20%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.landing-text h3 {
   font-size: 20%;
   font-family: 'Domine', serif;  
   color: white;

}



@media  (max-width: 368px) {


.landing-text img {
   height: auto;
   width: 260px;

}    
.landing-text h1 {
   font-size: 10%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.landing-text h3 {
   font-size: 0px;
   font-family: 'Domine', serif;  
   color: white;

}


}


