html, body
{
   height: 100%;
   width: 100%;
}

.navbar-inverse {
    background-color: #172531 !important;
    border-color: #526575!important;
    padding: 0%  0% 0% 0%;
    font-size: 1em ;
    font-weight: bold;
    
}

.dropdown-menu {
    background-color: #526575 !important;


 }
.dropdown-menu a{

    color: white !important;

 }

.dropdown-menu a:hover {
    color: black !important;
    

 }

.navbar-brand img {
    height: 36px;
    padding: 0 0 15px;

}


.navbar-inverse .navbar-nav li a {
   color: white;

}

.navbar-inverse .navbar-nav li a.active {
   
   color: white;

}

.navbar-inverse .navbar-nav li a:hover  {
   color: black;

}





#home
  {
     background:url(backs.jpg) no-repeat center center fixed;
     display: table;
     height: 100%;
     width: 100%;
     position: relative;
     background-size: cover;

}

.landing-text {
   display: table-cell;
   text-align: center;
   vertical-align: middle;  
}

.landing-text img {
   height: auto;
   width: 500px;

}

.landing-text h1 {
   font-size: 225%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
   text-shadow: 1px 1px 3px black;
}

.landing-text h3 {
   font-size: 60%;

}

.landing-text h2 {
   font-size: 10%;

}


.download
  { 
   border: 2px solid #515f6c;
   padding: 5px 18px;
   font-family: 'Roboto', serif;
   color: white;
   font-size: 20px;
   border-radius:3px;
   margin-right: 30px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#495a69), to(#243b4f));
	background: -moz-linear-gradient(top,  #495a69,  #243b4f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#495a69', endColorstr='#243b4f');

  }

.watch
  { 
   border: 2px solid #515f6c;
   background-color: transparent;
   padding: 5px 15px;
   font-family: 'Roboto', serif;
   color: white;
   font-size: 20px;
   border-radius:3px;

  }

.download:hover
 
  {
	background: -webkit-gradient(linear, left top, left bottom, from(#495a69), to(#2b363f));
	background: -moz-linear-gradient(top,  #495a69,  #2b363f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#495a69', endColorstr='#2b363f');

   }
.download:active
 
  {
	background: -webkit-gradient(linear, left top, left bottom, from(#2e3a45), to(#14212c));
	background: -moz-linear-gradient(top,  #2e3a45,  #14212c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3a45', endColorstr='#14212c');

   }

.watch:hover
 
  {
   background-color: #172531;
   transition: all 0.3s ease-in;

   }
.watch:active
  {
	background: -webkit-gradient(linear, left top, left bottom, from(#2e3a45), to(#14212c));
	background: -moz-linear-gradient(top,  #2e3a45,  #14212c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3a45', endColorstr='#14212c');
   }

.circle
  { 
   position: absolute;
   bottom: 20px;
   right: -10px;
   border: 2px solid #64991e;
   padding: 13px 14px 9px 13px;
   font-family: 'Roboto', serif;
   color: white;
   font-size: 28px;
   border-radius:50px;
   margin-right: 30px;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');

  }

.circle:hover
 
  {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');

   }
.circle:active
  {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
   }

.modal-content {
   	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#495a69), to(#243b4f));
	background: -moz-linear-gradient(top,  #495a69,  #243b4f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#495a69', endColorstr='#243b4f');    

}

.modal-title {
   font-size: 1.8em;
   color: #e0e9f0;
   font-family: 'Poiret One', serif !important;
   font-weight: bold;   

}


@media (min-width: 1920px) {


.landing-text img {
   height: auto;
   width: 800px;

}    
.landing-text h1 {
   font-size: 330%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.landing-text h3 {
   font-size: 220%;
   font-family: 'Domine', serif;  
   color: white;

}

.download
  { 
   border: 3px solid #515f6c;
   padding: 7px 22px;
   color: white;
   font-size: 36px;
   border-radius:4px;
   margin-right: 35px;

  }

.watch
  { 
   border: 3px solid #515f6c;
   padding: 7px 22px;
   color: white;
   font-size: 36px;
   border-radius:4px;

  }

}

@media (max-height: 568px) {
 
.landing-text img {
   height: auto;
   width: 380px;

} 
.landing-text h1 {
   font-size: 170%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.landing-text h2 {
   font-size: 10%;

}

.landing-text h3 {
   font-size: 10%;

}

.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 16px;
   border-radius:2px;
   margin-right: 25px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 16px;
   border-radius:2px;

  }


}

@media (max-height: 428px) {
 
.landing-text img {
   height: auto;
   width: 330px;

} 
.landing-text h1 {
   font-size: 160%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.landing-text h2 {
   font-size: 30px;

}
.landing-text h3 {
   font-size: 10%;


}
.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 14px;
   border-radius:2px;
   margin-right: 25px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 14px;
   border-radius:2px;

  }


}

@media (max-width: 768px) {


.landing-text img {
   height: auto;
   width: 420px;

}    
.landing-text h1 {
   font-size: 150%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.landing-text h3 {
   font-size: 50%;
   font-family: 'Domine', serif;  
   color: white;

}

.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 16px;
   border-radius:2px;
   margin-right: 25px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 16px;
   border-radius:2px;

  }



}

@media  (max-width: 558px) {


.landing-text img {
   height: auto;
   width: 330px;

}    
.landing-text h1 {
   font-size: 120%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.landing-text h3 {
   font-size: 20%;
   font-family: 'Domine', serif;  
   color: white;

}

.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 12px;
   border-radius:2px;
   margin-right: 20px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 12px;
   border-radius:2px;

  }
.circle
  { 
   padding: 12px 13px 8px 12px;
   font-size: 25px;
   border-radius:50px;
  }	
}

@media  (max-width: 338px) {


.landing-text img {
   height: auto;
   width: 240px;

}    
.landing-text h1 {
   font-size: 100%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.landing-text h3 {
   font-size: 0px;
   font-family: 'Domine', serif;  
   color: white;

}


.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 10px;
   border-radius:2px;
   margin-right: 20px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 10px;
   border-radius:2px;

  }
.circle
  { 
   padding: 10px 11px 6px 10px;
   font-size: 22px;
   border-radius:50px;
  }

	
}



