html, body
{
   height: 100%;
   width: 100%;
}

.navbar-inverse {
    background-color: #172531 !important;
    border-color: #526575!important;
    padding: 0%  0% 0% 0%;
    font-size: 1em ;
    font-weight: bold;
    
}

.dropdown-menu {
    background-color: #273f54 !important;

 }
.dropdown-menu a{

    color: white !important;
    font-size: 1.1em;
    font-family: 'Roboto', serif;
    margin: 10px 0;
    
 }

.dropdown-menu a:hover {
    color: white !important;

 }

.navbar-brand img {
    height: 36px;
    padding: 0 0 15px;

}


.navbar-inverse .navbar-nav li a {
   color: white;

}

.navbar-inverse .navbar-nav li a.active {
   
   color: white;

}

.navbar-inverse .navbar-nav li a:hover  {
   color: white !important;
   background-color: #111 !important;

}





#home
  {
     background:url(backs.jpg) no-repeat center center fixed;
     display: table;
     height: 100%;
     width: 100%;
     position: relative;
     background-size: cover;

}

.landing-text {
   display: table-cell;
   text-align: center;
   vertical-align: middle;  
}

.landing-text img {
   height: auto;
   width: 500px;

}

.landing-text h1 {
   font-size: 225%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
   text-shadow: 1px 1px 3px black;
}

.landing-text h3 {
   font-size: 60%;

}

.landing-text h2 {
   font-size: 10%;

}


.download
  { 
   border: 2px solid #515f6c;
   padding: 5px 18px;
   font-family: 'Roboto', serif;
   color: white;
   font-size: 20px;
   border-radius:3px;
   margin-right: 30px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#495a69), to(#243b4f));
	background: -moz-linear-gradient(top,  #495a69,  #243b4f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#495a69', endColorstr='#243b4f');

  }

.watch
  { 
   border: 2px solid #515f6c;
   background-color: transparent;
   padding: 5px 15px;
   font-family: 'Roboto', serif;
   color: white;
   font-size: 20px;
   border-radius:3px;

  }

.download:hover
 
  {
	background: -webkit-gradient(linear, left top, left bottom, from(#495a69), to(#2b363f));
	background: -moz-linear-gradient(top,  #495a69,  #2b363f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#495a69', endColorstr='#2b363f');

   }
.download:active
 
  {
	background: -webkit-gradient(linear, left top, left bottom, from(#2e3a45), to(#14212c));
	background: -moz-linear-gradient(top,  #2e3a45,  #14212c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3a45', endColorstr='#14212c');

   }

.watch:hover
 
  {
   background-color: #172531;
   transition: all 0.3s ease-in;

   }
.watch:active
  {
	background: -webkit-gradient(linear, left top, left bottom, from(#2e3a45), to(#14212c));
	background: -moz-linear-gradient(top,  #2e3a45,  #14212c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3a45', endColorstr='#14212c');
   }

.audio { 
       display: none;
} 


@media (min-width: 1920px) {


.landing-text img {
   height: auto;
   width: 800px;

}    
.landing-text h1 {
   font-size: 330%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.landing-text h3 {
   font-size: 220%;
   font-family: 'Domine', serif;  
   color: white;

}

.download
  { 
   border: 3px solid #515f6c;
   padding: 7px 22px;
   color: white;
   font-size: 36px;
   border-radius:4px;
   margin-right: 35px;

  }

.watch
  { 
   border: 3px solid #515f6c;
   padding: 7px 22px;
   color: white;
   font-size: 36px;
   border-radius:4px;

  }


@media (max-height: 568px) {
 
.landing-text img {
   height: auto;
   width: 380px;

} 
.landing-text h1 {
   font-size: 170%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.landing-text h2 {
   font-size: 10%;

}

.landing-text h3 {
   font-size: 10%;

}

.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 16px;
   border-radius:2px;
   margin-right: 25px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 16px;
   border-radius:2px;

  }


}

@media (max-height: 428px) {
 
.landing-text img {
   height: auto;
   width: 330px;

} 
.landing-text h1 {
   font-size: 160%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.landing-text h2 {
   font-size: 30px;

}
.landing-text h3 {
   font-size: 10%;


}
.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 14px;
   border-radius:2px;
   margin-right: 25px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 14px;
   border-radius:2px;

  }


}

@media (max-width: 768px) {


.landing-text img {
   height: auto;
   width: 420px;

}    
.landing-text h1 {
   font-size: 150%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.landing-text h3 {
   font-size: 50%;
   font-family: 'Domine', serif;  
   color: white;

}

.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 16px;
   border-radius:2px;
   margin-right: 25px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 16px;
   border-radius:2px;

  }



}

@media  (max-width: 558px) {


.landing-text img {
   height: auto;
   width: 330px;

}    
.landing-text h1 {
   font-size: 120%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}

.landing-text h3 {
   font-size: 20%;
   font-family: 'Domine', serif;  
   color: white;

}

.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 12px;
   border-radius:2px;
   margin-right: 20px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 12px;
   border-radius:2px;

  }
	
}
	
@media  (max-width: 512px) {
#home
  {
     background:url(backs.jpg) no-repeat center center fixed;
     display: table;
     height: 200%;
     width: 100%;
     position: relative;
     background-size: cover;

}
	
}
	
	
@media  (max-width: 338px) {


.landing-text img {
   height: auto;
   width: 240px;

}    
.landing-text h1 {
   font-size: 100%;
   font-family: 'Domine', serif;  
   color: white;
   font-weight: bold;
}
.landing-text h3 {
   font-size: 0px;
   font-family: 'Domine', serif;  
   color: white;

}


.download
  { 
   border: 2px solid #515f6c;
   padding: 6px 18px;
   color: white;
   font-size: 10px;
   border-radius:2px;
   margin-right: 20px;

  }

.watch
  { 
   border: 2px solid #515f6c;
   padding: 6px 15px;
   color: white;
   font-size: 10px;
   border-radius:2px;

  }
	
}



